.main-nav {

  &__toggle {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 25px;
    border: 0;
    color: transparent;
    background-color: transparent;
  }

  &__toggle span,
  &__toggle span:before,
  &__toggle span:after {
    content: '';
    position: absolute;
    right: 5px;
    top: 15px;
    width: 20px;
    height: 2px;
    font-size: 0;
    background-color: #000;
  }

  &__toggle span:before {
    top: 13px;
    right: 0;
    transform: translateY(-20px);
    transition: 0.5s;
  }

  &__toggle span:after {
    top: 37px;
    right: 0;
    transform: translateY(-30px);
    transition: 0.5s;
  }

  &--active &__toggle span {
    height: 0;
    padding: 0;
    top: 0;
  }

  &--active &__toggle span:before {
    transform: rotate(45deg);
  }

  &--active &__toggle span:after {
    transform: rotate(-45deg);
  }

  &__list {
    display: none;
    position: absolute;
    list-style: none;
    width: 200px;
    height: 140px;
    right: 10px;
    top: 50px;
    background-color: rgba(244, 212, 228, 0.5);

    & ul {
      list-style: none;
    }

    &--active {
      display: block;
    }
  }

  &__tel {
    position: inherit;
    color: #1a1ff7;
    z-index: 10;
  }
}
